*{
    padding: 8;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px 5%;
    background-color: #dbc3c3;
    align-items: center;
}

.nav-a-list ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    color: #575757;
}
.nav-a-list ul a{
    text-decoration: none;
}
.common-btn{
    background-color: #2563EB;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 30px ;  
    border-radius: 05px; 
    font-weight: bold; 
    border: none;
}


.hero{
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;

}
.hero-contant {
    color:#FFFFFF;
    text-align: center;
    display: grid;
    gap: 20px;
    margin-top: 15vh;
}
.hero-contant h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 50px;
}
.hero-contant p{
    width: 60%;
    align-items: center;
    margin-left: 20%;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.hero-contant button{
    width: 20%;
    margin-top: 30vh;
    margin-left: 40%;
}